/*
 * (C) Copyright 2016 Rockchip Electronics Co., Ltd
 *
 * SPDX-License-Identifier:     GPL-2.0+
 */

/dts-v1/;

#include "rv1108.dtsi"
#include "rv1108-u-boot.dtsi"
#include "rv1108-sdram-ddr3-400.dtsi"
#include <dt-bindings/input/input.h>

/ {
	model = "Rockchip RV1108 Evaluation board";
	compatible = "rockchip,rv1108-evb", "rockchip,rv1108";

	memory@60000000 {
		device_type = "memory";
		reg = <0x60000000 0x08000000>;
	};

	chosen {
		stdout-path = "serial2:1500000n8";
	};

	vcc5v0_otg: vcc5v0-otg-drv {
		compatible = "regulator-fixed";
		enable-active-high;
		regulator-name = "vcc5v0_otg";
		gpio = <&gpio3 RK_PC5 GPIO_ACTIVE_HIGH>;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	vcc_sys: vcc-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc_sys";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
		regulator-boot-on;
	};
};


&u2phy {
	status = "okay";
};

&u2phy_otg {
	status = "okay";
};

&u2phy_host {
	status = "okay";
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&uart2 {
	status = "okay";
};

&usb20_otg {
	vbus-supply = <&vcc5v0_otg>;
	status = "okay";
};

&usb_host_ehci {
	status = "okay";
};

&usb_host_ohci {
	status = "okay";
};

&sfc {
	compatible = "rockchip,rksfc";
	status = "okay";
};

&i2c0 {
	i2c-scl-rising-time-ns = <275>;
	i2c-scl-falling-time-ns = <16>;
	clock-frequency = <400000>;
	nack-retry = <1>;
	status = "okay";

	rk816: pmic@1a {
		compatible = "rockchip,rk816";
		reg = <0x1a>;
		interrupt-parent = <&gpio0>;
		interrupts = <2 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&pmic_int_l &pmic_sleep_l>;
		rockchip,system-power-controller;
		wakeup-source;
		gpio-controller;
		#gpio-cells = <2>;
		#clock-cells = <1>;
		clock-output-names = "rk816-clkout1", "rk816-clkout2";
		extcon = <&u2phy>;

		vcc1-supply = <&vcc_sys>;
		vcc2-supply = <&vcc_sys>;
		vcc3-supply = <&vcc_sys>;
		vcc4-supply = <&vcc_sys>;
		vcc5-supply = <&vcc_io>;
		vcc6-supply = <&vcc_sys>;

		gpio {
			status = "okay";
		};

		pwrkey {
			status = "okay";
		};

		rtc {
			status = "okay";
		};
		/*ok*/
		battery {
			compatible = "rk816-battery";
			ocv_table = <3500 3577 3612 3636 3664 3683 3695 3705 
						3714 3728 3742 3761 3785 3814 3847 3878 
						3902 3936 3994 4030 4164>;

			ntc_table = <188500 178600 169200 160400 152100 144300 
						136900 130000 123400 117200 111300 105800 100600 95640 
						90970 86560 82380 78430 74690 71140 67790 64610 61600 
						58740 56030 53460 51030 48710 46520 44430 42450 40570 
						38780 37080 35460 33930 32460 31070 29750 28490 27280 
						26140 25050 24010 23020 22070 21170 20310 19490 18710 
						17960 17250 16570 15910 15290 14700 14130 13590 13070 
						12570 12090 11640 11200 10780 10380 10000 9633 9282 
						8945 8622 8312 8015 7730 7456 7194 6942 6700 6468 
						6245 6031 5826 5628 5438 5255 5080 4911 4749 4592 
						4442 4297 4158 4024 3895 3771 3651 3536 3425 3318 
						3215 3115 3019 2927 2837 2751 2668 2588 2511 2436 
						2364 2295 2227 2163 2100 2039 1981 1924 1869 1817 
						1765 1716 1668 1622 1577 1534 1492 1451 1412 1374 
						1337 1302 1267 1234 1201 1170 1139 1110 1081 1054 
						1027 1001 975 951 927 904 881 860 839 818 798 779 
						760 742 724 707 690 674 658 643 628 613 599 585 
						572 559 547 534>;

			design_capacity = <1970>;
			design_qmax = <2167>;
			bat_res = <165>;
			max_input_current = <2000>;
			max_chrg_current = <1600>;
			max_chrg_voltage = <4200>;
			sleep_enter_current = <300>;
			sleep_exit_current = <300>;
			sleep_filter_current = <100>;
			power_off_thresd = <3500>;
			zero_algorithm_vol = <3950>;
			fb_temperature = <105>;
			sample_res = <20>;
			energy_mode = <1>;
			max_soc_offset = <60>;
			monitor_sec = <5>;
			virtual_power = <0>;
			power_dc2otg = <0>;
			dc_det_adc = <0>;
		};

		regulators {
			/*ok*/
			vdd_arm: DCDC_REG1{
				regulator-name= "vdd_arm";
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <1500000>;
				regulator-ramp-delay = <6001>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <900000>;
				};
			};
			/*ok | witch is used*/
			vcc_22: DCDC_REG2 {
				regulator-name= "vcc_22";
				regulator-min-microvolt = <2200000>;
				regulator-max-microvolt = <2200000>;
				regulator-ramp-delay = <6001>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1200000>;
				};
			};

			vcc_ddr: DCDC_REG3 {
				regulator-name = "vcc_ddr";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1200000>;
				};
			};

			vcc_io: DCDC_REG4 {
				regulator-name = "vcc_io";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3000000>;
				};
			};
			/*ok | witch is used*/
			vdd_10: LDO_REG1 {
				regulator-name = "vdd_10";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1000000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
			/*ok | witch is used*/
			vcc_18: LDO_REG2 {
				regulator-name = "vcc_18";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd10_pmu: LDO_REG3 {
				regulator-name = "vdd10_pmu";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1000000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1000000>;
				};
			};

			vdd33_pmu: LDO_REG4 {
				regulator-name= "vdd33_pmu";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			dovdd_cam: LDO_REG5 {
				regulator-name= "dovdd_cam";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			lcd_bl: LDO_REG6 {
				regulator-name= "lcd_bl";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <2800000>;
				};
			};
		};
	};
};

&pinctrl {
	pmic {
		pmic_int_l: pmic-int-l {
			rockchip,pins =<0 RK_PB4 RK_FUNC_GPIO &pcfg_pull_up>;
		};
		pmic_sleep_l: pmic-sleep-l {
			rockchip,pins =<0 RK_PB5 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};
};
